@media (min-width: 480px){
	.masterhead{
		width: 100%;
		height: 15em;
	}
}	
@media (min-width: 600px){
	.masterhead{
		width: 100%;
		height: 20em;
	}

@media (min-width: 760px){
	.masterhead{
		width: 100%;
		height: 25em;
	}
	.project01 {
	width: 300px;
	height: 300px;
	float: left;
	margin: 0 10px;
	}
	.project02 {
	width: 300px;
	height: 300px;
	float: left;
	margin: 0 10px;
	}
	.project03 {
	width: 300px;
	height: 300px;
	float: left;
	margin: 0 10px;
	}
}	